# Dependencias de Node
node_modules/

# Variables de entorno
.env

# Archivos de configuración del IDE
.vscode/
.idea/

# Logs
logs/
*.log
npm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Firebase
.firebase/
firebase-debug.log